<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title - MVC TemplateV2</title>
    @Styles.Render("~/Bootstrap-css")
    @Styles.Render("~/OwnCss")
    @RenderSection("Styles", false)
</head>
<body class="hold-transition login-page">
    
        <div class="login-logo">
            <a href="@Url.Action("Index", "Home")"><b>Build</b>mATE</a>
        </div>
       
             
            @RenderBody()
     
    
    @Scripts.Render("~/Jquery")
    @Scripts.Render("~/Bootstrap")
    @RenderSection("Scripts", false)
</body>
</html>