@using BMSS.WebUI.Models.StockTransViewModels
@model StockTransLineViewModel
<div class="modalform modal fade" id="AddUpdateItemModal" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 1050px!important;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Item</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm(null, null, null, FormMethod.Post, new { @class = "form-horizontal", data_bind = "submit: validateAndAddline" }))
            {

                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="box box-primary">
                                @Html.ValidationSummary()
                                <div class="box-body">
                                    <div class="container col-12">
                                        <div class="row">
                                            <div class="col-7">
                                                <div class="row">
                                                    <div class="col-9">
                                                        <div class="form-group">
                                                            @Html.LabelFor(x => x.ItemCode)
                                                            @Html.DropDownListFor(x => x.ItemCode, Enumerable.Empty<SelectListItem>(), new { @class = "form-control select2", style = "width:100%", data_bind = "options: ItemCodesAndNames, optionsText: 'Value', optionsValue: 'Value', value: StockTransLine.itemCode ,optionsCaption: 'Select Stock Code'" })
                                                        </div>
                                                        <div class="overlay">
                                                            <i class="fa fa-refresh fa-spin text-gray"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-group">
                                                            @Html.LabelFor(x => x.FromLocation)
                                                            @Html.DropDownListFor(x => x.FromLocation, Enumerable.Empty<SelectListItem>(), null, new { @class = "form-control select2", style = "width:100%", data_bind = "options: LocationCodeAndNames, optionsText: 'Text', optionsValue: 'Value', value: StockTransLine.fromLocation ,optionsCaption: 'Select From Location'" })
                                                        </div>
                                                        <div class="overlay">
                                                            <i class="fa fa-refresh fa-spin text-gray"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9">
                                                        <div class="form-group">
                                                            @Html.LabelFor(x => x.Description)
                                                            @Html.DropDownListFor(x => x.Description, Enumerable.Empty<SelectListItem>(), new { @class = "form-control select2", style = "width:100%", data_bind = "options: ItemCodesAndNames, optionsText: 'Text', optionsValue: 'Value', value: StockTransLine.description ,optionsCaption: 'Select Stock Description'" })
                                                            <div class="text-center"><a href="#" class="btn" data-bind="click:CopyDescToOwDesc"><i class="fa fa-arrow-down"></i></a></div>
                                                        </div>
                                                        <div class="overlay">
                                                            <i class="fa fa-refresh fa-spin text-gray"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-group">
                                                            @Html.LabelFor(x => x.ToLocation)
                                                            @Html.DropDownListFor(x => x.ToLocation, Enumerable.Empty<SelectListItem>(), null, new { @class = "form-control select2", style = "width:100%", data_bind = "options: LocationCodeAndNames, optionsText: 'Text', optionsValue: 'Value', value: StockTransLine.toLocation ,optionsCaption: 'Select To Location'" })
                                                        </div>
                                                        <div class="overlay">
                                                            <i class="fa fa-refresh fa-spin text-gray"></i>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9">
                                                        <div class="form-group">
                                                            @Html.LabelFor(x => x.OverwriteDescription)
                                                            @Html.TextBoxFor(x => x.OverwriteDescription, new { @class = "form-control", data_bind = "textInput: StockTransLine.overwriteDescription" })
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-group">
                                                            @Html.LabelFor(x => x.Qty)
                                                            @Html.TextBoxFor(x => x.Qty, new { @class = "form-control", data_bind = "textInput: StockTransLine.qty" })
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9">
                                                        <div class="form-group">
                                                            @Html.Label("Additional Remarks")
                                                            @Html.TextBoxFor(x => x.Description2, new { @class = "form-control", data_bind = "textInput: StockTransLine.description2" })
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(x => x.Description3, new { @class = "form-control", data_bind = "textInput: StockTransLine.description3" })
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(x => x.Description4, new { @class = "form-control", data_bind = "textInput: StockTransLine.description4" })
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(x => x.Description5, new { @class = "form-control", data_bind = "textInput: StockTransLine.description5" })
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(x => x.Description6, new { @class = "form-control", data_bind = "textInput: StockTransLine.description6" })
                                                        </div>
                                                    </div>
                                                    <div class="col-3">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5">
                                                <table id="LocationStock" class="table table-striped table-bordered responsive nowrap bmdatatable" data-fixed-header="true" data-auto-width="true" data-paging='false' data-searching="false" data-length-change="false" data-page-length="5" data-ordering="false" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Location</th>
                                                            <th class="text-right">In Stock</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                                <table id="PriceHistory" class="table table-striped table-bordered responsive nowrap bmdatatable" data-scroll-y="100px" data-scroll-collapse="true" data-fixed-header="true" data-auto-width="true" data-paging='false' data-searching="false" data-length-change="false" data-page-length="5" data-ordering="false" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Date</th>
                                                            <th>Doc #</th>
                                                            <th class="text-right">Qty</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>

                                        </div>
                                        <div class="container col-12" data-bind="foreach: ChildItemDetails">
                                            <div class="row">
                                                <div class="col-7">
                                                    <div class="form-group">
                                                        <label>Chile BOM Line <span data-bind="text: $index"></span></label>
                                                        @Html.TextBox("Item1", null, new { @class = "form-control", data_bind = "value: ItemCode", disabled = "" })
                                                    </div>
                                                </div>
                                                <div class="col-5">
                                                    <table id="LocationStock" class="table table-striped table-bordered responsive nowrap bmdatatable" data-fixed-header="true" data-auto-width="true" data-paging='false' data-searching="false" data-length-change="false" data-page-length="5" data-ordering="false" style="width:100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Location</th>
                                                                <th class="text-right">In Stock</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!-- ko foreach: $data.StockDetails -->
                                                            <tr>
                                                                <td><span data-bind="text: $data.WarhouseName"></span></td>
                                                                <td class="text-right"><span data-bind="numericText: $data.AvailableQty, precision: 4"></span></td>
                                                            </tr>
                                                            <!-- /ko -->

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default mr-auto" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="AddUpdateRow">Save</button>

                </div>
            }
        </div>
    </div>
</div>

